.documentos-container{
    width: 100%;
    height: auto;
}

.tituloDocumentos {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}


/*para pantallas pequeñas*/
@media (max-width: 768px) {

    .tituloDocumentos {
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
    }

}

.container-home {
    display: flex;
    background-color: #ffffff;
    width: 100%;
    height: auto;
}

/*boton regresar*/
.custom-button {
    margin-top: 20px;
    margin-right: 20px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: #008df8;   
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.section-right {
    width: calc(100% - 300px); /* Restar el ancho de la sección izquierda */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.column-center{
    margin: 26px;
    display: flex;
    flex-direction: column;
}

.column-center h3{
    font-size: 22px;
}

.pdf-section{
    margin-top: 64px;
    width: 1100px;
}

.pdf-item:hover {
    scale: 1.05;
    transition-duration: 700ms;

}

.pdf-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas, cada una con el mismo ancho */
    gap: 16px; /* Espacio entre las columnas */
}  
.pdf-item {
    padding: 16px;
    border: 0.1px solid #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 5px 10px #b8b7b7;
    border-radius: 25px;

}