.imgLogo{
    width: 60%;
    height: auto;
}

.imgMujer{
    width: 100%;
    height: auto;
}



.initial-content {
    width:100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.information-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container-photo {
    flex: 1;
    flex-direction: column;
    text-align: right;
}  .container-photo button {
    margin-right: 20px;
}

@media (max-width: 768px) {
    .initial-content {
        flex-direction: column;
    }

    .container-photo{
        text-align: center;
    }

}


.stylesBtn {
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: #2ba8fb;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.stylesBtn:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
}

.stylesBtn:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}

