.guide-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.guide-section {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.navigation-buttons {
    position: fixed;
    top: 50%;
    right: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transform: translateY(-50%);
}

.navigation-buttons button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 0 28px 0; /* Porcentaje del ancho total */
    background-color: #ccc;
    border: none;
    cursor: pointer;
}

.navigation-buttons button.active {
    background-color: #6fc5ff;
}

.imageWelcome{
    width: 100%;
}

.container-guide0 {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
    grid-gap: 20px; /* Espaciado entre las columnas */
    align-items: center;

    @media (max-width: 768px) {
        grid-template-columns: 1fr; /* Una columna en dispositivos móviles */
        text-align: center; /* Centra el texto en dispositivos móviles */

    }
}

.titleWelcome{
    margin-bottom: 30px;
}