.documentos-container{
    width: 100%;
    height: auto;
}

.tituloDocumentos {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;

}



/*para pantallas pequeñas*/
@media (max-width: 768px) {

    .tituloDocumentos {
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
    }

}
/* cargando le doc*/
.loading p{

    font-size: 30px;
    font-family: roboto;
    font-weight: lighter;
    margin-top: 20px;
}

/*no hay info*/
.loadingnoInfo p{

    font-size: 30px;
    font-family: roboto;
    font-weight: lighter;
    margin-top: 20px;
    color: #000000;
}


.column-center h3{
    margin-left: 16px;
}

.container-historial {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    height: auto;
}


.custom-button {
    margin-top: 20px;
    margin-right: 20px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: #568AC7;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 20px;
}

.section-right {
    width: calc(100% - 300px); /* Restar el ancho de la sección izquierda */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.column-center{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 72px;
    margin-right: 72px;
    margin-top: 32px;
    width: 100%;
    height: auto;
}

.historial-section {
    margin-top: 64px;
    margin-left: 32px;
    margin-right: 32px;
}

.historial-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    gap: 16px;
}  
.historial-item {
    padding: 16px;
    border: 0.1px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 10px #b8b7b7;
    width: 100%;
    flex-direction: column;
    cursor: pointer;
}

.historial-item:hover{
    scale: 1.05;
    transition-duration: 300ms;
}



@media (min-width: 480px){
    .historial-grid {
        grid-template-columns: repeat(2, 1fr); 
    }  
}


@media (min-width: 680px){
    .historial-grid {
        grid-template-columns: repeat(3, 1fr); 
    }  
}


@media (min-width: 940px){
    .historial-grid {
        grid-template-columns: repeat(4, 1fr); 
    }  
}


@media (min-width: 1280px){
    .historial-grid {
        grid-template-columns: repeat(5, 1fr); 
    }  
}