
.documentos-container {
    width: 100%;
    height: auto;
}

.column-center h3 {
    font-family: "Roboto";
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-align: center;
    font-size: 30px;
}

.container-home {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    height: auto;
}

.section-right {
    width: calc(100% - 300px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.column-center {
    margin: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pdf-section {
    margin-top: 64px;
    max-width: 1100px;
    width: 100%;
}

.pdf-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.pdf-item {
    padding: 16px;
    border: 0.1px solid #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 5px 10px #b8b7b7;
    border-radius: 25px;
}


@media (max-width: 768px) {
    .tituloDocumentos {
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
    }

    .pdf-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
    }

    .custom-button {
        margin-top: 20px;
        margin-right: 20px;
        position: static; 
        z-index: 1;
        background-color: #568AC7;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 30px;
        cursor: pointer;
    }
}
