.documentos-container{
    width: 100%;
    height: auto;
}

.tituloDocumentos {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}



/*para pantallas pequeñas*/
@media (max-width: 768px) {

    .tituloDocumentos {
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
    }

}
/* cargando le doc*/
.loading p{

    font-size: 30px;
    font-family: roboto;
    font-weight: lighter;
    margin-top: 20px;
}

/*no hay info*/
.loadingnoInfo p{

    font-size: 30px;
    font-family: roboto;
    font-weight: lighter;
    margin-top: 20px;
    color: #000000;
}




.container-home {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    height: auto;
}


.custom-button {
    margin-top: 20px;
    margin-right: 20px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: #568AC7;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 20px;
}

.section-right {
    width: calc(100% - 300px); /* Restar el ancho de la sección izquierda */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.column-center{
    margin: 26px;
    display: flex;
    flex-direction: column;
}



.historial-section {
    margin-top: 64px;
    width: 1100px;
}

.historial-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    gap: 16px;
}  
.historial-item {
    padding: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #c1c1c12e;
    color: #000000;
    border-radius: 20px;
    cursor: pointer;
}

.historial-item:hover{
    scale: 1.05;
    transition-duration: 300ms;
}