.guide-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    height: 90vh;
    overflow-y: auto;
}

.container-guide0 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
    max-width: 100%;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        text-align: center;
    }
}

.titleWelcome {
    margin-bottom: 30px;
    font-size: 30px;
    color: #00affa;
}

.spanHola {
    color: #00affa;
}

.container-guide1 {
    text-align: center;
    max-width: 100%;
}

.titleWelcome2 {
    margin-bottom: 30px;
    font-size: 30px;
    color: #00affa;
}

.cardsVideos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
    max-width: 100%;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        text-align: center;
    }
}

.cardvideo {
    padding: 20px;
    width: 100%;
    max-width: 330px;
    min-height: 370px;
    border-radius: 20px;
    background: #00affa;
    transition: 0.4s;
}

.cardvideo:hover {
    translate: 0 -10px;
}

.card-title {
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    margin: 15px 0 0 10px;
}

.card-image {
    min-height: 170px;
    background-color: #ffffff;
    border-radius: 15px;
    background: #ffffff;
}

.card-body {
    margin: 13px 0 0 10px;
    color: rgb(255, 255, 255);
    font-size: 15px;
}

.footer {
    float: right;
    margin: 28px 0 0 18px;
    font-size: 13px;
    color: #ffffff;
}

.by-name {
    font-weight: 700;
}


